@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "_variables";
@import "_extends";

* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  padding: 5px;
}
main {
  width: 100%;
  height: 100%;
  background-color: black;
  border: $gap-size solid black;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 15fr;
  gap: $gap-size;
  .first-section {
    background-color: black;
    display: grid;
    grid-template-rows: auto 2fr 5fr;
    grid-template-columns: 1fr;
    gap: 1px;
    .first-section__first-row {
      background-color: white;
      font-size: $big-font;
      .header {
        @extend %header;
      }
      .content {
        @extend %text-content;
      }
    }
    .first-section__second-row {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      gap: 1px;
      div:first-child {
        background-color: rgba(255, 255, 255, 0.904);
      }
      div {
        background-color: white;
        text-transform: uppercase;
        padding: 5px 12px;
        font-size: $mini-font;
        font-weight: 600;
      }
    }
    .first-section__third-row {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      & > div {
        padding: $inner-padding;
        &:nth-child(2),
        &:nth-child(3) {
          span:first-child {
            font-weight: 600;
          }
        }
        span {
          display: block;
        }
      }
    }
  }
  .second-section {
    background-color: black;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr auto;
    grid-template-columns: 5fr 10fr;
    gap: $gap-size;
    article {
      width: 100%;
      height: 100%;
      div {
        gap: $gap-size;
      }
    }
    .second-section__first-article {
      background-color: white;
      .header {
        @extend %header;
      }
      .title {
        font-size: $bigger-font;
        width: 60%;
        padding: $inner-padding;
        padding-bottom: 0;
      }
      .content {
        padding: $inner-padding;
      }
    }
    .second-section__second-article {
      background-color: white;
      font-size: $big-font;
      .header {
        @extend %header;
      }
      .content {
        @extend %text-content;
        width: 80%;
      }
    }
    .second-section__third-article {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: $gap-size;
      & > div:nth-child(2) {
        display: grid;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-columns: 1fr;
        & > div:nth-child(2) {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 2fr 1fr;
          & > div:nth-child(2) {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
          }
        }
        & > div:nth-child(3) {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 2fr;
        }
      }
    }
    .second-section__forth-article {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 4fr;
      gap: $gap-size;
      & > div:nth-child(2) {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
      }
    }
  }
}

.background {
  background-position: center center;
  background-size: cover;
}
.img1 {
  background-image: url("https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}
.img2 {
  background-image: url("https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
.img3 {
  background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
.img4 {
  background-image: url("https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
.img5 {
  background-image: url("https://images.unsplash.com/photo-1497366216548-37526070297c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
.img6 {
  background-image: url("https://images.unsplash.com/photo-1596079890744-c1a0462d0975?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
}
.img7 {
  background-image: url("https://images.unsplash.com/photo-1564069114553-7215e1ff1890?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80");
}
.img8 {
  background-image: url("https://images.unsplash.com/photo-1593642532400-2682810df593?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
.img9 {
  background-image: url("https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
.img10 {
  background-image: url("https://images.unsplash.com/photo-1497215842964-222b430dc094?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
.img11 {
  background-image: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
}
